@import url('https://fonts.googleapis.com/css2?family=VT323:wght@400&display=swap');

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Orbitron", sans-serif;
}
